<tr id="comment-<%= comment.id %>">
  <td>
    <%= comment.user.profile.user_name %>
  </td>
  <td>
    <%= comment.body %>
  </td>
  <% if current_user.present? && current_user.own?(comment) %>
    <td>
      <% link_to 'edit', edit_comment_path(comment) %>
      <%= link_to 'delete', comment_path(comment), data:{ turbo_method: :delete, turbo_confirm: 'コメントを削除しますか？' } %>
    </td>
  <% end %>
</tr>