<header class="bg-indigo-500 text-white py-4">
  <div class="container mx-auto flex items-center justify-between">

    <!-- Start Page Link -->
    <div>
      <%= link_to t('header.top'), root_path, class: "text-lg font-semibold" %>
    </div>
    <!-- Navigation Links -->
    <nav class="space-x-4">
      <%= link_to t('header.login'), login_path, class: "hover:underline" %>
      <%= link_to t('header.sign_up'), new_user_path, class: "hover:underline" %>
    </nav>
  </div>
</header>