<footer class="bg-gray-800 text-white py-4 flex justify-between items-center">
  <p class="mx-auto">&copy; <%= Time.now.year %> SyukanMeter. All Rights Reserved.</p>
  <a href="<%= kiyaku_path %>" class="text-white mr-4">利用規約</a>
</footer>
