<div class="container mx-auto p-8 text-center">
  <h1 class="text-4xl font-bold text-indigo-700 mb-4">Welcome to Syukan_meter!</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">

    <!-- 習慣化しよう！ -->
    <div class="bg-white p-6 rounded-lg shadow-md col-span-2">
      <h2 class="text-2xl font-semibold text-indigo-600 mb-4">習慣化しよう！</h2>
      <p class="text-gray-600">毎日の習慣を身につけましょう。</br>新しい習慣を始めてみてはいかがですか？</p>
    </div>

    <!-- 習慣を登録して -->
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-indigo-600 mb-4">習慣を登録</h2>
      <p class="text-gray-600">自分の目標に向けて習慣を設定しましょう。</br>進捗を確認して励みになります。</p>
    </div>

    <!-- 今日やったかどうかを登録しよう！ -->
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-indigo-600 mb-4">今日やったかを登録しよう！</h2>
      <p class="text-gray-600">毎日の挑戦をカレンダーに記録して</br>成長を実感しましょう。</br>積み重ねが大切です。</p>
    </div>

    <!-- 更に頑張った内容を共有！ -->
    <div class="bg-indigo-700 p-6 rounded-lg shadow-md text-white">
      <h2 class="text-2xl font-semibold mb-4">更に頑張った内容を共有！</h2>
      <p>他のユーザーとあなたの成功や工夫したことを共有！<br>
      <a href="<%= posts_path %>" class="text-yellow-300 underline">投稿</a> でシェア！</p>
    </div>

    <!-- タイマーを活用してね！ -->
    <div class="bg-indigo-700 p-6 rounded-lg shadow-md text-white">
      <h2 class="text-2xl font-semibold mb-4">ポモドーロタイマーを活用してね！</h2>
      <p>作業や学習に集中するために <a href="<%= pomodoros_path %>" class="text-yellow-300 underline">タイマー</a> を使ってみましょう。短い集中と休憩を交互に取り入れてみてください。</p>
    </div>

  </div>

</div>
