<h1>Welcome! Syu-kan_meiter</h1>

  <h2>習慣化しよう！</h2>
  <h2>習慣を登録して</h2>
  <h2>今日やったかどうかを登録しよう！</h2>

  <h2>更に頑張った内容を共有！</h2>
  <h2><%= link_to 'Post', posts_path %></h2>

  <h2>タイマーを活用してね！</h2>
  <h2><%= link_to 'Timer', pomodoros_path %></h2>
