<h1>Posts#show</h1>
<div class="post">
  <div>
    <%= @post.user %>
  </div>
  <div>
    <%= @post.body %>
  </div>
  <div>
    いいね！
  </div>
</div>

<div class="comment">
  """""""ここにコメントが表示される""""""
</div>
