@import "simple_calendar";

.simple-calendar {
  // .day { background-color: white; }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}
  // .wday-5 {}
  // .wday-6 {}

  // .today { background-color: rgb(247, 247, 175); }
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month {}
  // .current-month {}

  .has-events { background-color: greenyellow;}
  .calendar-heading { margin-bottom: 10px; }
}